.cabecalho{
    background-color: navy;
    border: 10px;
    border-color: black (255, 255 0);
    border-style: dashed;
    margin: 10px;
    color: aliceblue;
    font-weight: 400;
}

.principal{
    background-color: black(21, 54, 83);
    border: 10px;
    border-color: aliceblue(114, 149, 180);
    border-style: double;
    margin: 30px;
    color: aliceblue(10, 81, 143);
}